{% extends "about-us/base.html" %}
{% block mainbody %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>start</title>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Movie</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.10.2.min.js.download" %}"></script>
    <script src="{% static "js/bootstrap.min.js.download" %}"></script>
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <style type="text/css"></style>
    <style>
        .div1 {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -150px 0 0 -200px;
            width: 450px;
            height: 300px;
        }
        .blur{

             filter: blur(6px);

             -webkit-filter: blur(6px);  /* chrome, opera */

             -ms-filter: blur(6px);

            -moz-filter: blur(6px);
            ｝
    </style>
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="{% static 'aboutus/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'aboutus/responsive.css' %} ">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'aboutus/jquery.mCustomScrollbar.min.css' %} ">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="{% static 'aboutus/font-awesome.css' %} ">
   <!-- owl stylesheets -->
    <script>
function changeColor()

{
var color="#f00|#0f0|#00f|#880|#808|#088|yellow|green|blue|gray";
color=color.split("|");
document.getElementById("blink").style.color=color[parseInt(Math.random() * color.length)];
}
setInterval("changeColor()",200);
</script>
</head>

</nav>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '283394035432709',
            cookie: true,
            xfbml: true,  // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });

        FB.getLoginStatus(function (response) {
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function logout() {
        FB.logout(function () {
        });
        $.get("/user/logout/", function () {
            location.reload();
        });
        {#        location.href = "/user/logout/";#}
    }

    function login() {
        FB.login(function (response) {
            if (response.status === 'connected') {
                FB.api('/me', function (response) {
                    $.post("/user/facebook/", {
                        csrfmiddlewaretoken: getCookie('csrftoken'),
                        username: response.name,
                        password: "facebook"
                    }, function () {
                        location.reload();
                    });
                });
            }
        });
    }
</script>
<script>
    function searchSubmit() {
        var action_src = '/movie/search/movie/' + document.getElementById("search-input").value + '/1';
        document.getElementById('search--form').action = action_src;
    }

    $(".form-control").bind('blur', function () {
        setTimeout(function () {
            $(".searchlistdiv").hide();
        }, 150);
    });
    var last_input_time = Date.now();

    function start_timer() {
        var this_input_time = Date.now();
        last_input_time = this_input_time;
        setTimeout(
            function (this_input_time) {
                if (last_input_time === this_input_time)
                    showResult(document.getElementById('search-input').value);
            }, 150, this_input_time);
    }

    function showResult(str) {
        if (str.length === 0) {
            $(".searchlistdiv").hide();
            return;
        }
        var path = "/movie/search_suggest/" + str;
        $.get(path, function (data) {
            data = JSON.parse(data);
            if (document.getElementById('search-input').value !== data.text)
                return;
            $(".search-movie").siblings().not(".search-actor").remove();
            for (var i = data.movie.length - 1; i >= 0; i--) {
                var img = "<img src='" + data.movie[i].poster + "' width='60' height='75'></img>";
                var link = "<div class='suggest' onclick=\"location.href='/movie/movie_detail/"
                    + data.movie[i].movieid + "'\">" + img + "<b>" + data.movie[i].title + "</b></div>";
                $(".search-movie").after(link)
            }
            if (data.movie.length === 0)
                $(".search-movie").after("<div class='no_suggest'><b>No suggestion!</b></div>")

            for (var i = data.actor.length - 1; i >= 0; i--) {
                var img = "<img src='" + data.actor[i].photo + "' width='60' height='75'></img>";
                var link = "<div class='suggest' onclick=\"location.href='/movie/actor_detail/"
                    + data.actor[i].actorid + "'\">" + img + "<b>" + data.actor[i].name + "</b></div>";
                $(".search-actor").after(link)
            }
            if (data.actor.length === 0)
                $(".search-actor").after("<div class='no_suggest'><b>No suggestion!</b></div>")

            $(".searchlistdiv").show();
        });
    }
</script>



<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>-->
<div class="div1" style="  text-align: center; ">
    <div id="blink">
<h1 style=" text-align:center; font-size: 40px; font-weight: bold;color: #ffffff">Team Members</h1></div>
    <span style="font-size: 40px; text-align: center; color: #ffffff">Sun Shizhuo A0236143M</span>
    <br/><span style="font-size: 40px; text-align: center; color: #ffffff">Zhang Rengxuan A0235966N</span>

</div>


</body>
</html>
{% endblock %}