.zhh{
    width: 100%;
    float: left;
    /*background-color: #0d95e8;*/
    background: url("../images/movie.jpg");
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.iamge_movies_main {
    width: 100%;
    display: flex;
}
.iamge_movies {
    width: 100%;
    float: left;
    margin: 0px 13px;
}

.image_3 {
    position: relative;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}

.code_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ff4500;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.there_text {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.there_text_2 {
    width: 100%;
    float: left;
    font-size: 25px;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.star_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    float: left;
    font-size: 15px;
    color: #ffffff;
    padding-bottom: 50px;
}

.star_icon_1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    float: left;
    font-size: 25px;
    color: #ffffff;
}

.star_icon_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    float: left;
    font-weight: bold;
    font-size: 15px;
    color: #ffff00;
    padding-bottom: 80px;
}

.playnow_bt {
    background-color: #0d95e8;
    color: #ececec;
    font-size: 16px;
    padding: 7px 0px;
    width: 110px;
    border-radius: 30px;
}


